<title>About</title>
        <div class="bk-img-custom-2 py-mox">
        </div>
        <div class="container-fluid py-max fix">
          <div class="row pt-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
              <h1 class="text-white">
                Our path to success
              </h1>
            </div>
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-5">
                <p class="fs-5 text-white">Ivox Car Rental was born from a passion for enhancing travel experiences. Established with a vision to redefine car rentals, we aim to make every drive memorable and stress-free. Our journey began with a commitment to delivering excellence and creating harmonious memories for our valued customers. Harmony in Motion: At IVox, we believe that every drive should be a seamless and enjoyable melody. From sleek sedans to spacious SUVs, our diverse fleet caters to your unique needs. We take pride in providing vehicles that echo style, comfort, and reliability.

                  Customer-Centric Approach: Our commitment to customer satisfaction is the driving force behind everything we do. From the moment you choose IVox, expect personalized service, transparent pricing, and a team dedicated to making your car rental experience exceptional.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="container pt-5 pb-5">
          <h1 class="display-6 text-center pb-3">Meet our team</h1>
          <div class="main-body ">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/J2yw0k6.png" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">CFO Amina Tokalija</h5>
                                <p class="card-text">Amina Tokalija, a seasoned CFO, excels in financial leadership and boasts strong managerial prowess. With a strategic mindset, she navigates complex financial landscapes, optimizing processes, and fostering high-performing teams for organizational success.</p>
                                <div class="text-center">
                                  <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-envelope"></i></a>
                                  <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-facebook"></i></a>
                                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-twitter"></i></a>
                                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-google"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="col-sm-4">
                          <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/Jmm2ybP.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">CEO Muhamad Assaad</h5>
                              <p class="card-text">Muhamad Assaad, a dynamic CEO, leads with strategic vision and unwavering commitment. His leadership prowess and business acumen drive organizational success, making him a transformative force in the corporate landscape.</p>
                              <div class="text-center">
                                <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-envelope"></i></a>
                                <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-facebook"></i></a>
                                <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                                <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-twitter"></i></a>
                                <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-google"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="col-sm-4">
                        <div class="card">
                          <img class="card-img-top" src="https://i.imgur.com/sGplSvf.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Grpahic Desinger Benjamin Lipovac</h5>
                            <p class="card-text">Benjamin Lipovac, a passionate Graphic Designer known for his innovative approach to visual storytelling. With a meticulous eye for detail and a flair for creativity, Benjamin transforms concepts into captivating designs. Dedicated to delivering top-notch results, Benjamin consistently pushes the boundaries of design, leaving a lasting impression through his work. In the dynamic world of graphical design, Benjamin stands out as a visionary creator and a reliable professional.</p>
                            <div class="text-center">
                              <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-envelope"></i></a>
                              <a type="button" class="btn btn-rounded btn-floating btn-primary btn-lg"><i class="bi bi-facebook"></i></a>
                              <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                              <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-twitter"></i></a>
                              <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="bi bi-google"></i></a>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>