
    <!-- Header-->
    <div class="bg-dark py-maxim bg-image ">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Ivox </h1>
                        <p class="lead text-white opacity-50 mb-4"> More Than Miles, It's a Melody.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#about">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-flag-fill"></i></div>
                    <h2 class="h4 fw-bolder">Explore Bosnia's Beauty in Style</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Seamless Travel Experience</h2>
                    <p>At Ivox, we prioritize your convenience. Enjoy a seamless rental process from booking to return, backed by our transparent pricing and friendly customer service. Your journey starts here, effortlessly.</p>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Trusted Car Rentals in Bosnia and Herzegovina</h2>
                    <p>Experience the warmth of Bosnian hospitality with the reliability of international standards. Our locally-rooted team is dedicated to providing you with top-notch service, ensuring your time in Bosnia and Herzegovina is as memorable as the destinations you'll discover.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hatchbacks -->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Enjoy Bosnia and Herzegovina</h2>
                <p class="lead mb-0">in style</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Alfa Romeo -->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5 w-h">
                            <div class="small fw-bold">Alfa Romeo 147</div>
                            <div class="small fw-bold text-muted fs-7">or similar hatchbacks</div>
                            <div class="mb-3">
                                <img class="img-fluid" src="https://static.carfromjapan.com/spec_2791190e-f84e-42e4-b5ae-d40bc46332cb_640_0" alt="Hello">
                            </div>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-2 mb-2">
                                <li class="">
                                    <i class="bi bi-pin-angle-fill"></i>
                                    <strong>Sarajevo international Airport</strong>
                                </li>
                            </ul>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-1 ml-auto text-end list-inline">
                                <li class="text-muted">
                                    <strong>Price for 2 Days</strong>
                                </li>
                                <li class="fs-5">
                                    <strong>BAM 199.95</strong>
                                </li>
                                <li class="text-muted fs-7">
                                    From X Fri - X Monday
                                </li>
                            </ul>
                            <div class="d-grid pt-2"><a class="btn btn-outline-primary" data-toggle="modal" data-target="#carModal" data-car="Alfa Romeo 147">Reserve Now!</a></div>
                        </div>
                    </div>
                </div>
                <!-- vw golf-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5 w-h">
                            <div class="small fw-bold">Audi TT</div>
                            <div class="small fw-bold text-muted fs-7">or similar sport cars</div>
                            <div class="mb-3">
                                <img class="img-fluid" src="https://freepngimg.com/save/31679-audi/440x247" alt="Hello">
                            </div>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-2 mb-2">
                                <li class="">
                                    <i class="bi bi-pin-angle-fill"></i>
                                    <strong>Sarajevo international Airport</strong>
                                </li>
                            </ul>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-1 ml-auto text-end list-inline">
                                <li class="text-muted">
                                    <strong>Price for 2 Days</strong>
                                </li>
                                <li class="fs-5">
                                    <strong>BAM 350.00</strong>
                                </li>
                                <li class="text-muted fs-7">
                                    From X Fri - X Monday
                                </li>
                            </ul>
                            <div class="d-grid pt-2"><a class="btn btn-outline-primary" data-toggle="modal" data-target="#carModal" data-car="Audi TT">Reserve Now!</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5 w-h">
                            <div class="small fw-bold">Audi RS6 Avant</div>
                            <div class="small fw-bold text-muted fs-7">or similar estates</div>
                            <div class="mb-3">
                                <img class="img-fluid" src="https://imgd.aeplcdn.com/642x336/ec/EF/B6/18994/img/m/Audi-RS6-Right-Front-Three-Quarter-52753_ol.jpg?v=201711021421&q=80" alt="Hello">
                            </div>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-2 mb-2">
                                <li class="">
                                    <i class="bi bi-pin-angle-fill"></i>
                                    <strong>Sarajevo international Airport</strong>
                                </li>
                            </ul>
                            <div class="lines-div"></div>
                            <ul class="list-unstyled mt-1 ml-auto text-end list-inline">
                                <li class="text-muted">
                                    <strong>Price for 2 Days</strong>
                                </li>
                                <li class="fs-5">
                                    <strong>BAM 220.95</strong>
                                </li>
                                <li class="text-muted fs-7">
                                    From X Fri - X Monday
                                </li>
                            </ul>                              
                            <div class="d-grid pt-2"><a class="btn btn-outline-primary" data-toggle="modal" data-target="#carModal" data-car="Audi RS6 Avant">Reserve Now!</a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Customer testimonials</h2>
                <p class="lead mb-0">Our customers love working with us</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Had a fantastic experience with Ivox. The staff was friendly and efficient, and the car options were diverse. Clean, well-maintained vehicles made for a smooth ride. Highly recommend!</p>
                                    <div class="small text-muted">- Dario M.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Impressed with the hassle-free rental process at Ivox. Transparent pricing, clean cars, and courteous staff. Will be my go-to choice for future rentals. Great value!</p>
                                    <div class="small text-muted">- Amina A.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section class="bg-light py-5" id="forms">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>

                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>        <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' 
            });
        }
        
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
            if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
                document.getElementById("scrollToTopBtn").style.display = "block";
            } else {
                document.getElementById("scrollToTopBtn").style.display = "none";
            }
        }
        </script>
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
                        <!-- Button changes and stuff-->
    
      <script>
          function SubmitButton() {
              document.getElementById("Submit").innerHTML = "Reservation sent!"
                 document.getElementById("Submit").style.background = "Green";
               }
          function SubmitButtonOne() {
              document.getElementById("SubmitOne").innerHTML = "Reservation sent!"
                  document.getElementById("SubmitOne").style.background = "Green";
                   }
          function SubmitButtonTwo() {
              document.getElementById("SubmitTwo").innerHTML = "Reservation sent!"
                  document.getElementById("SubmitTwo").style.background = "Green";
                       }
      </script>
    
    
    
    
    
    

</body>
</html>
